@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 225 6% 13%;
        --foreground: 210 40% 98%;

        --card: 225 6% 13%;
        --card-foreground: 210 40% 98%;

        --popover: 225 6% 13%;
        --popover-foreground: 210 40% 98%;

        --primary: 193 100% 50%;
        --primary-foreground: 225 6% 13%;

        --secondary: 276 100% 50%;
        --secondary-foreground: 210 40% 98%;

        --muted: 223 47% 11%;
        --muted-foreground: 215.4 16.3% 56.9%;

        --accent: 151 100% 50%;
        --accent-foreground: 225 6% 13%;

        --destructive: 313 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 193 100% 50%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 225 6% 10%;
        --foreground: 210 40% 98%;

        --card: 225 6% 13%;
        --card-foreground: 210 40% 98%;

        --popover: 225 6% 13%;
        --popover-foreground: 210 40% 98%;

        --primary: 193 100% 50%;
        --primary-foreground: 225 6% 13%;

        --secondary: 276 100% 50%;
        --secondary-foreground: 210 40% 98%;

        --muted: 223 47% 11%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 151 100% 50%;
        --accent-foreground: 225 6% 13%;

        --destructive: 313 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 193 100% 50%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground select-none;
    }
}